# ==============================================
# Configuración de la base de datos SQLite
# ==============================================
url=jdbc:sqlite:usuarios.db
user=
password=
driver=org.sqlite.JDBC

# ==============================================
# Configuración del Pool (HikariCP)
# ==============================================
pool.maxSize=10
pool.minIdle=2
pool.idleTimeout=600000
pool.connectionTimeout=30000
