# Configuración de la aplicación para la base de datos SQLite
# URL JDBC a la base de datos SQLite (relativa a la raíz del proyecto o absoluta)
url=jdbc:sqlite:usuarios.db
user=
password=

# --- Configuración del Pool (NUEVO) ---
# Número máximo de conexiones en el pool
pool.maxSize=10
# Número mínimo de conexiones inactivas esperando
pool.minIdle=2
# Tiempo (en ms) que una conexión puede estar inactiva (10 min)
pool.idleTimeout=600000
# Tiempo (en ms) para esperar por una conexión si el pool está lleno (30 seg)
pool.connectionTimeout=30000